<navbar></navbar>

<div class="weekdays">
  <div class="weekday" ng-repeat="weekday in vm.weeklyMenu" ng-class="vm.cssClassForWeekday(weekday)">
    <div class="cover">
      <div class="menu">
        <h1>Меню на {{ weekday.title }}</h1>
        <p>{{ weekday.components.meat.title }}</p>
        <p>{{ weekday.components.garnish.title }}</p>
        <p>{{ weekday.components.salad.title }}</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="composition col-sm-6">
          <h2>Состав</h2>
          <div class="list-group">
            <a href="#/" class="list-group-item"
              ng-class="{exclude: component.excluded}"
              ng-repeat="component in weekday.components"
              ng-click="vm.toggleExlcude(component)"
            >
              <h4 class="list-group-item-heading">
                <span class="glyphicon" ng-class="{'glyphicon-ok': !component.excluded, 'glyphicon-remove-circle': component.excluded}"></span>
                <span>{{ component.title }}</span>
              </h4>
              <p class="list-group-item-text">
                <span>{{ component.weight }}</span>гр. <span>{{ vm.toCommaString(component.ingredients) }}</span>
              </p>
            </a>
          </div>
        </div>
        <div class="size col-sm-6">
          <h2>Размер</h2>
          <div class="btn-group" role="group">
            <a href="#/" class="btn btn-default" ng-repeat="size in vm.sizes" ng-class="{active: vm.sizeForWeekday(weekday.alias) == size}" ng-click="vm.selectSize(size)">
              <span class="glyphicon" ng-class="vm.cssClassForSize(size)"></span>
              <span>{{ size }}</span>
            </a>
          </div>
          <h2>Итого: 65 грн</h2>
        </div>
    </div>
  </div>
  <div class="make-order">
    <button type="button" class="btn btn-primary btn-lg center-block">Заказать</button>
  </div>
</div>
