/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.weekdays {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.weekdays .weekday {
  position: relative;
}

.weekdays .weekday .cover {
  height: 400px;
  background-size: cover;
  margin: 0;
}

.weekdays .mon .cover {
  background-image: url('1.jpg');
}

.weekdays .tue .cover {
  background-image: url('2.jpg');
}

.weekdays .weekday .menu {
  position: absolute;
  right: 20%;
  left: 20%;
  top: 70px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  color: white;
  font-size: 21px;
}

.weekdays .weekday .composition .list-group-item {
  background-color: #b6dfb6;
  border-color: #8cce8c;
}

.weekdays .weekday .composition .list-group-item-text {
  color: #555;
}

.weekdays .weekday .composition .list-group-item-heading {
  color: #398439;
}

.weekdays .weekday .composition .exclude {
  background-color: white;
  border-color: #adadad;
}

.weekdays .weekday .composition .exclude .list-group-item-heading {
  color: #5a5a5a;
}

.footer {
}

.weekdays .weekday .make-order{
  background-color: #999999;
  padding: 5px;
}

@media (max-width: 320px) {
  .weekdays .weekday .size .active {
    background-color: #b6dfb6;
    border-color: #8cce8c;
  }
}
