/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: white;
  background-color: #333333;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;

  background-color: black;
  border-color: white;

  margin: 15px;

  border-width: 0;
  opacity: .8;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-wrapper .navbar-nav > li > a {
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-wrapper .navbar-nav > li > a:focus,
.navbar-wrapper .navbar-nav > li > a:hover,
.navbar-wrapper .navbar-nav .active > a {
  background-color: #FF4B00;
}


.navbar-wrapper .navbar-brand {
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-size: 20px;
  text-transform: uppercase;
}

.weekdays {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.weekdays .weekday {
  position: relative;
}

.weekdays .weekday .cover {
  height: 500px;
  background-size: cover;
  margin: 0;
}

.weekdays .mon .cover {
  background-image: url('../assets/images/covers/week1/mon.jpg');
}

.weekdays .tue .cover {
  background-image: url('../assets/images/covers/week1/tue.jpg');
}

.weekdays .wed .cover {
  background-image: url('../assets/images/covers/week1/wed.jpg');
}

.weekdays .thu .cover {
  background-image: url('../assets/images/covers/week1/thu.jpg');
}

.weekdays .fri .cover {
  background-image: url('../assets/images/covers/week1/fri.jpg');
}

.weekdays .weekday .menu {
  position: absolute;
  right: 20%;
  left: 20%;
  top: 70px;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,.9);
  color: white;
  font-size: 21px;
}

.weekdays .weekday .composition .list-group-item {
  background-color: #A4C000;
  border-width: 0;
}

.weekdays .weekday .composition .list-group-item-text {
  color: #666;
}

.weekdays .weekday .composition .list-group-item-heading {
  color: white;
}

.weekdays .weekday .composition .exclude {
  background-color: #374000;
}

.weekdays .weekday .composition .exclude .list-group-item-heading {
  color: #ccc;
}

.footer {
}

.weekdays .weekday .make-order {
  background-color: black;
  padding: 5px;
}

.weekdays .weekday .btn-primary {
  background-color: #FF4B00;
  border-color: #7D3C00;
  outline: none;
}

.weekdays .weekday .btn-default.active {
  color: white;
  background-color: #A4C000;
  border-width: 0;
}

.weekdays .weekday .btn-default {
  color: #ccc;
  background-color: #374000;
  border-width: 0;
}

@media (max-width: 320px) {
  .weekdays .weekday .size .active {
    background-color: #b6dfb6;
    border-color: #8cce8c;
  }
}
